
body{
    margin: 0px;
    padding: 0px;
}
.header-top{
    display: flex;
    align-items: center;
}
.logo img{
 width: 90px;
 height: 60px;
}
.logo{
    padding-left: 10px;
    padding-right: 30px;
}
.header-right{
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.header-left{
    width: 30%;
}
.inp{
    width: 500px;
    height: 40px;
    background: rgb(245, 242, 242);
    border-radius: 5px;
    border: none;
}
.red{
    width: 20px;
    height: 20px;
    background-color: rgb(241, 77, 77);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 23px;
    left: 24px;
}
.fa-solid{
    font-size: 24pt;
    color: black;
}
.icon{
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    position: relative;
}
.counter{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: large;

}
.card1{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: 20px;
}
.card{
    display: flex;
    width: 100%;
    width: 18rem;
    margin-right: 37px
}
.products{
    display: flex;
    padding: 10px;
}
.item-product{
    margin: 10px;
}
.item-product img{
    width: 193px;
    height: 216px;
    box-shadow: 0 0 8px 0px #625f5f;
    border-radius: 5px;
}
.tilte-frame{
    padding: 20px;
    position: relative;
}
#cart{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 40px;
    margin-left: 48px;
    margin-top: 9px;

}
#cart:hover #cart-list{
    display: block;
}
.bi{
    font-size: larger;
}
#number-cart{
    position: absolute;
    left: 8%;
    top: 59px;
    color: red;
    font-size: large;
}

#cart-list{
    width: 280px;
    background-color: beige;
    left: 33px;
    top: 72px;
    position: absolute;
    z-index: 100;
    font-family: cursive;
    font-size: x-small;
    padding: 10px;
    border-radius: 5px;
    display: none;
  
}
.frame-section{
    padding: 20px;
}
.item-price{
margin: 15px;
}
.prperties-cart{
    font-size: small;
}
#cart li{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}
#cart li img{
    width: 22px;
    height: 31px;
}

.delete-item{
    color:red;
    cursor: pointer;
    font-size: 11pt;
}
.image{
    width: 22px;
    height: 31px;

}
.prperties-product{
    padding: 10px;
    text-align: center;
    line-height: 25px;
    font-size: 13pt;
    font-family: system-ui;
    color: darkblue;
}
.add-cart{
    height: 36px;
    border: 2px solid #484311;
    background-color: #dfe0fa;
    border-radius: 5px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    font-size: 11pt;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20pt;
    width: 73%;
    font-family: cursive;
    color: cadetblue;
}
#empty-cart{
    position: absolute;
    z-index: 100;
    top: 33%;
    left: 10%;
    font-size: 9pt;
    font-family: system-ui;
    color: blueviolet;
    display: none;
}